<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="../../css/basisAppl.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../../js_lib/copyright.js"></script>

<title>Basis applicate</title>
</head>

<body>
<div id="mainbox">
	<header>
		<div id="titleNav">

			<div id="naam">
				<h1><img src="../images/basis.png" alt="" width="205"> <br> Applicatie</h1>
			</div>
			<img src="../images/vlaanderen.png" alt="logo" width="450" height="201">

		</div>

	</header>
  
	<main>
		{$output}
		
	</main>
  
	<footer>
		<script language="javascript">
			document.write(copyRight(" lauraciocalau.com"));
		</script>
	</footer>
  
</div>

</body>
</html>
